## introduce the data 

1 My subject is going to analysis about economy and growth in GDP.

2 I choose this project is due to my second major in UBC which is Economy.
  I have been learned lots of lectures about economy, 
  and I want to combine my mathematics and economy knowledage together in my project2. 
  Therefore, I choose economy dataset and use the math210 method to analysis it.
  
3 I find this dataset as following website
http://data.worldbank.org/data-catalog/GDP-ranking-table

4 the reader can find all the information about GDP ranking in this website. Just open the web, and download all the documents they need.

## Ask qustions

In this project, I have 4 quesions that I wold like to explore
1 what are the top3 GDP countries in this world, and is it same as last year? 
2 what can we see from the GDP financial amout about this dataset? 
3 Is GDP ranking  related to location?
4 Is GDP ranking  related to health as well? 

Firstly, I need to introduce the definition of GDP 

*"Gross domestic product (GDP)*: 

**the monetary value of all the finished goods and services produced within a country's borders in a specific time period. Though GDP is usually calculated on an annual basis, it can be calculated on a quarterly basis as well. GDP includes all private and public consumption, government outlays, investments and exports minus imports that occur within a defined territory. Put simply, GDP is a broad measurement of a nationâ€™s overall economic activity."**

Gross domestic product can be calculated using the following formula:

GDP = C + G + I + NX

where

C is equal to all private consumption, or consumer spending, in a nation's economy, G is the sum of government spending, I is the sum of all the country's investment, including businesses capital expenditures and NX is the nation's total net exports, calculated as total exports minus total imports (NX = Exports - Imports).

resource from online, the website is 
http://www.investopedia.com/terms/g/gdp.asp

Then, I am starting to analysis the dataset I get from 
*World Bank http://data.worldbank.org*

## quick summary from datasat

1 From 2015-2016, I can see that top3 countries for GDP are: USA, China, and Japan 
  From 2014-2015. I try to find the dataset from world bank website, but I faided. I just find the GDP ranking about 2010.
  and it is the same ranking as 2015-2016.
  
2 What can we see from GDP? This is a more economy question I thought. 
  In the economy world, there are two parts 

  *The pitfalls of GDP*
  
  *Revisions*
  
  In another words, it means health and wealth somehow. why does it happen?
  
  Usually, when we don not have much information about GDP, we choose to test a country health and wealth to account in instead of GDP 
 
 ** this part is more economy , if you are interested in, you can reader a quick summary online by following link:
 http://www.telegraph.co.uk/finance/economics/11159277/What-does-GDP-really-tell-us-about-economic-growth.html
 
 3 Basicly, I thought it is kind of regionalism. 
   From top 10 we can see ,
   3 Asian countries : China & Japan & India, and the ranking is 2 &3 & 9 
   1 North America country: USA, and the ranking is 1 
   rest counties are located in Europe.
   
  As a result, 60% high GDP countries are from Europe
  
  (By the way , Canada is ranked by 11) 
 
4 I checked some notes from google and baidu. I don not think that GDP means everything about good quality of life. 
  For example, GDP ranking of China is higher than Canada. However, canadian medical treatment cause is much better than China even most of     Aisn countis such as India

## explore the dataset

In [13]:
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
%matplotlib inline

In [14]:
GDP = pd.read_csv('gdp.csv',encoding='latin')

In [15]:
GDP.head(15)

,Unnamed: 0,Gross domestic product 2014,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,(millions of,NaN
2,NaN,Ranking,NaN,Economy,US dollars),NaN
3,NaN,NaN,NaN,NaN,NaN,NaN
4,USA,1,NaN,United States,"17,419,000",NaN
5,CHN,2,NaN,China,"10,354,832",NaN
6,JPN,3,NaN,Japan,"4,601,461",NaN
7,DEU,4,NaN,Germany,"3,868,291",NaN
8,GBR,5,NaN,United Kingdom,"2,988,893",NaN
9,FRA,6,NaN,France,"2,829,192",NaN
10,BRA,7,NaN,Brazil,"2,416,636",NaN
11,ITA,8,NaN,Italy,"2,141,161",NaN
12,IND,9,NaN,India,"2,048,517",NaN
13,RUS,10,NaN,Russian Federation,"1,860,598",a
14,CAN,11,NaN,Canada,"1,785,387",NaN

we just analysis top10 datasat about GDP ranking, and there is the data that we can check

In [16]:
GDP.head(169)

,Unnamed: 0,Gross domestic product 2014,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,(millions of,NaN
2,NaN,Ranking,NaN,Economy,US dollars),NaN
3,NaN,NaN,NaN,NaN,NaN,NaN
4,USA,1,NaN,United States,"17,419,000",NaN
5,CHN,2,NaN,China,"10,354,832",NaN
6,JPN,3,NaN,Japan,"4,601,461",NaN
7,DEU,4,NaN,Germany,"3,868,291",NaN
8,GBR,5,NaN,United Kingdom,"2,988,893",NaN
9,FRA,6,NaN,France,"2,829,192",NaN
10,BRA,7,NaN,Brazil,"2,416,636",NaN
11,ITA,8,NaN,Italy,"2,141,161",NaN
12,IND,9,NaN,India,"2,048,517",NaN
13,RUS,10,NaN,Russian Federation,"1,860,598",a
14,CAN,11,NaN,Canada,"1,785,387",NaN
15,AUS,12,NaN,Australia,"1,454,675",NaN
16,KOR,13,NaN,"Korea, Rep.","1,410,383",NaN
17,ESP,14,NaN,Spain,"1,381,342",NaN
18,MEX,15,NaN,Mexico,"1,294,690",NaN
19,IDN,16,NaN,Indonesia,"888,538",NaN
20,NLD,17,NaN,Netherlands,"879,319",NaN
21,TUR,18,NaN,Turkey,"798,429",NaN
22,SAU,19,NaN,Saudi Arabia,"753,832",NaN
23,CHE,20,NaN,Switzerland,"701,037",NaN
24,SWE,21,NaN,Sweden,"571,090",NaN
25,NGA,22,NaN,Nigeria,"568,508",NaN
26,POL,23,NaN,Poland,"544,967",NaN
27,ARG,24,NaN,Argentina,"537,660",NaN
28,BEL,25,NaN,Belgium,"531,547",NaN
29,NOR,26,NaN,Norway,"499,817",NaN
...,...,...,...,...,...,...
139,ARM,136,NaN,Armenia,"11,644",NaN
140,MKD,137,NaN,"Macedonia, FYR","11,324",NaN
141,MDG,138,NaN,Madagascar,"10,593",NaN
142,MLT,139,NaN,Malta,"9,643",NaN
143,BEN,140,NaN,Benin,"9,575",NaN
144,TJK,141,NaN,Tajikistan,"9,242",NaN
145,HTI,142,NaN,Haiti,"8,713",NaN
146,BHS,143,NaN,"Bahamas, The","8,511",NaN
147,NER,144,NaN,Niger,"8,169",NaN
148,MDA,145,NaN,Moldova,"7,962",f
149,RWA,146,NaN,Rwanda,"7,890",NaN
150,KGZ,147,NaN,Kyrgyz Republic,"7,404",NaN
151,KSV,148,NaN,Kosovo,"7,387",NaN
152,GIN,149,NaN,Guinea,"6,624",NaN
153,SOM,150,NaN,Somalia,"5,707",NaN
154,BMU,151,NaN,Bermuda,"5,574",NaN
155,LIE,152,NaN,Liechtenstein,"5,488",NaN
156,SUR,153,NaN,Suriname,"5,210",NaN
157,MRT,154,NaN,Mauritania,"5,061",NaN
158,SLE,155,NaN,Sierra Leone,"4,838",NaN
159,MNE,156,NaN,Montenegro,"4,588",NaN
160,FJI,157,NaN,Fiji,"4,532",NaN
161,TGO,158,NaN,Togo,"4,518",NaN
162,SWZ,159,NaN,Swaziland,"4,413",NaN
163,BRB,160,NaN,Barbados,"4,355",NaN
164,MWI,161,NaN,Malawi,"4,258",NaN
165,ADO,162,NaN,Andorra,"3,249",NaN
166,GUY,163,NaN,Guyana,"3,097",NaN
167,BDI,164,NaN,Burundi,"3,094",NaN
168,MDV,165,NaN,Maldives,"3,062",NaN

In [17]:
GDP.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 242 entries, 0 to 241
Data columns (total 6 columns):
Unnamed: 0                     228 non-null object
Gross domestic product 2014    202 non-null object
Unnamed: 2                     0 non-null float64
Unnamed: 3                     229 non-null object
Unnamed: 4                     230 non-null object
Unnamed: 5                     7 non-null object
dtypes: float64(1), object(5)
memory usage: 13.2+ KB

In [18]:
GDP.tail(20)

,Unnamed: 0,Gross domestic product 2014,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
222,LIC,NaN,NaN,Low income,"397,849",NaN
223,MIC,NaN,NaN,Middle income,"24,748,448",NaN
224,LMC,NaN,NaN,Lower middle income,"5,781,069",NaN
225,UMC,NaN,NaN,Upper middle income,"18,958,149",NaN
226,LMY,NaN,NaN,Low & middle income,"25,148,400",NaN
227,EAP,NaN,NaN,East Asia & Pacific,"12,609,716",NaN
228,ECA,NaN,NaN,Europe & Central Asia,"1,817,461",NaN
229,LAC,NaN,NaN,Latin America & Caribbean,"4,845,035",NaN
230,MNA,NaN,NaN,Middle East & North Africa,"1,556,768",NaN
231,SAS,NaN,NaN,South Asia,"2,588,688",NaN
232,SSA,NaN,NaN,Sub-Saharan Africa,"1,728,322",NaN
233,HIC,NaN,NaN,High income,"52,850,488",NaN
234,EMU,NaN,NaN,Euro area,"13,410,232",NaN
235,NaN,NaN,NaN,NaN,NaN,NaN
236,NaN,.. Not available.,NaN,NaN,NaN,NaN
237,NaN,Note: Rankings include only those economies wi...,NaN,NaN,NaN,NaN
238,NaN,a. Based on data from official statistics of U...,NaN,NaN,NaN,NaN
239,NaN,make any judgment on the legal or other status...,NaN,NaN,NaN,NaN
240,NaN,b. Includes Former Spanish Sahara. c. Covers ...,NaN,NaN,NaN,NaN
241,NaN,e. Excludes Abkhazia and South Ossetia. f. Ex...,NaN,NaN,NaN,NaN

we can see that the lower income does effect the GDP form above data

## all the finding 
firstly, I need to provide all the resource that I get from online as following :

I find this dataset as following website http://data.worldbank.org/data-catalog/GDP-ranking-table
 dataset I get from World Bank http://data.worldbank.org
 GDP resource from online, the website is http://www.investopedia.com/terms/g/gdp.asp
 this part is more economy , if you are interested in, you can reader a quick summary online by following link: http://www.telegraph.co.uk/finance/economics/11159277/What-does-GDP-really-tell-us-about-economic-growth.html
 
seconedly, I would like to summary this project

From economy part, we can see that GDP effects lots of aspects such as health, wealth ,and income 
From datasat we analysis, we can see it is kind of regionalism as we list above